<a href="https://colab.research.google.com/github/devjaime/data_science_escalab/blob/main/Copia_de_2021_11_04_Clase_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importar bibliotecas que no están en Google Colaboratory
!pip install biblioteca

!apt-get install biblioteca

In [ ]:
import random

In [ ]:
from geneticalgorithm import geneticalgorithm as ga

In [ ]:
!pip install geneticalgorithm

Collecting geneticalgorithm
  Downloading geneticalgorithm-1.0.2-py3-none-any.whl (16 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from geneticalgorithm) (1.19.5)
Collecting func-timeout
  Downloading func_timeout-4.3.5.tar.gz (44 kB)
     |████████████████████████████████| 44 kB 1.1 MB/s
Building wheels for collected packages: func-timeout
  Building wheel for func-timeout (setup.py) ... done
  Created wheel for func-timeout: filename=func_timeout-4.3.5-py3-none-any.whl size=15095 sha256=7fea7353ecd2b17b885d6e3d51271150fd012f5ce93bc597ced54fbd4494e004
  Stored in directory: /root/.cache/pip/wheels/68/b5/a5/67c4364c354e141f5a1bd3ec568126f77877ab7554cf5af8cb
Successfully built func-timeout
Installing collected packages: func-timeout, geneticalgorithm
Successfully installed func-timeout-4.3.5 geneticalgorithm-1.0.2

In [ ]:
from geneticalgorithm import geneticalgorithm as ga

In [ ]:
import libarchive

In [ ]:
!apt-get install libarchive-dev
!pip install libarchive

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  libarchive-dev
0 upgraded, 1 newly installed, 0 to remove and 37 not upgraded.
Need to get 470 kB of archives.
After this operation, 1,625 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libarchive-dev amd64 3.2.2-3.1ubuntu0.7 [470 kB]
Fetched 470 kB in 1s (628 kB/s)
Selecting previously unselected package libarchive-dev:amd64.
(Reading database ... 155219 files and directories currently installed.)
Preparing to unpack .../libarchive-dev_3.2.2-3.1ubuntu0.7_amd64.deb ...
Unpacking libarchive-dev:amd64 (3.2.2-3.1ubuntu0.7) ...
Setting up libarchive-dev:amd64 (3.2.2-3.1ubuntu0.7) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Collecting libarchive
  Downloading libarchive-0.4.7.tar.gz (23 kB)
Collecting nose
  Downloading nose-1.3.7-py3-none-any.whl (154 kB)
     |████████████████████████████████| 154 kB 4.5 MB/s
Building wheels for collected packages: libarchive
  Building wheel for libarchive (setup.py) ... done
  Created wheel for libarchive: filename=libarchive-0.4.7-py3-none-any.whl size=31647 sha256=3cc6be3590c8fb592b9ea92270712af98a54b01b577de595d2df89946ecd080f
  Stored in directory: /root/.cache/pip/wheels/63/b1/c6/b3da79bec2012175bd43603eed98ef8548ac1733b77c1d4330
Successfully built libarchive
Installing collected packages: nose, libarchive
Successfully installed libarchive-0.4.7 nose-1.3.7

# Tipos de datos
Númericos
*   Enteros (int)
*   Coma flotante (float)
*   Complejos

Textos

Booleanos
*   Verdadero → True
*   Falso → False

In [ ]:
mi_numero_1 = 125
print(mi_numero_1)

mi_numero_2 = 125.45
print(mi_numero_2)

125
125.45

In [ ]:
mi_texto_1 = 'este es mi texto'
print(mi_texto_1)
mi_texto_2 = 'este es mi "texto"'
print(mi_texto_2)

mi_texto_3 = """este
es mi
texto"""
print()
print(mi_texto_3)

este es mi texto
este es mi "texto"

este
es mi
texto

In [ ]:
# true está mal, la primera tiene que se con mayúscula
cond_1 = True
print(cond_1)
cond_2 = False
print(cond_2)

True
False

# Operadores
*   aritméticos
	*   suma +
	*   resta - 
	*   multiplicación *
	*   división /
	*   módulo %
	*   exponente **
	*   división entera //
*   comparación
	*   igual que ==
	*   diferente que !=
	*   mayor que >
	*   menor que <
	*   mayor o igual que >=
	*   menor o igual que <=
*   lógicos
	*   AND
	*   OR
	*   NOT
*   asignación
	*   igual =
	*   incrementeo +=
	*   decremento -=
  *   /=
  *   %=
  *   **=
  *   //=
*   especiales
	*   IS
	*   IS NOT
	*   IN
	*   NOT IN

In [ ]:
# aritméticos
print("suma → +")
print(10+28)
print(10+28+78)
print()

print("resta → -")
print(28-10)
print(28-10-10)
print(28-(10-10))
print()

print("multiplicación → *")
print(2*4)
print(2*4*2)
print()

print("división → /")
print(8/2)
print()

print("módulo → %")
print(9%2)
print(23%5)
print()

print("exponente → **")
print(2**4)
print(3**3)
print()

print("división entera → //")
print(23//5)

suma → +
38
116

resta → -
18
8
28

multiplicación → *
8
16

división → /
4.0

módulo → %
1
3

exponente → **
16
27

división entera → //
4
4.6

In [ ]:
# Comparación
print("igual que → ==")
print("perro"=="gato")
print("perro"=="perro")
print(3==2)
print(3==3)
print()

print("diferente que → !=")
print("perro"!="gato")
print("perro"!="perro")
print(3!=2)
print(3!=3)
print()

print("mayor que → >")
print(3>4)
print(3>2)
print()

print("menor que → <")
print(3<4)
print(3<2)
print()

print("mayor o igual que → >=")
print(3>=4)
print(3>=2)
print(3>=3)
print()

print("menor o igual que → <=")
print(3<=4)
print(3<=2)
print(3<=3)
print()

igual que → ==
False
True
False
True

diferente que → !=
True
False
True
False

mayor que → >
False
True

menor que → <
True
False

mayor o igual que → >=
False
True
True

menor o igual que → <=
True
False
True

In [ ]:
# asignación
mi_variable_1 = 5
mi_variable_2 = "mi texto"
print("asignación → =")
print(mi_variable_1)
print(mi_variable_2)
print()

print("incremento → +=, # decremento → -=")
# forma 1
a=5
print(5)
a += 2
print(a)

# forma 2
a=5
print(5)
a = a + 2
print(a)
print()

# a = a/2
# a /= 2
a = 20
a /= 2
print(a)
print()

a = 23
a = a%4
print(a)
a = 23
a %= 4
print(a)
print()

a = 2
a = a**3
print(a)
a = 2
a **= 3
print(a)
print()

a = 24
a = a//5
print(a)
a = 24
a //= 5
print(a)
print()

asignación → =
5
mi texto

incremento → +=, # decremento → -=
5
7
5
7

10.0

3
3

8
8

4
4

In [ ]:
#especiales
# IS
# IS NOT
# IN
# NOT IN

lista = [1, 2, 3, 4]
print(1 in lista)
print(5 in lista)
print(1 not in lista)
print(5 not in lista)

True
False
False
True

# Variables
Espacio en la memoria del ordenador donde se almacenará un valor que podrá cambiar durante la ejecución del programa
```
mi_variable = valor
mi_numero = 5

# no!!!
  int mi_numero = 5;
```


En python todo es un objeto

type(objeto)

In [ ]:
mi_variable_1 = "un texto"
print(mi_variable_1)
print(type(mi_variable_1))
print()

mi_variable_2 = 5
print(mi_variable_2)
print(type(mi_variable_2))
print()

mi_variable_3 = 5.4
print(mi_variable_3)
print(type(mi_variable_3))
print()

mi_variable_4 = [1,2,3,4]
print(mi_variable_4)
print(type(mi_variable_4))
print()

un texto
<class 'str'>

5
<class 'int'>

5.4
<class 'float'>

[1, 2, 3, 4]
<class 'list'>

# Operadores de comparación y/o condicionales
## if (elif, else)
Permite evaluar una o más condicionesdos para ver si se cumplen o no

si se cumplen podemos determinar que ejecute una acción específica así como otra cuando no se cumple

In [ ]:
# if condición:
a = 3
b = 4


if a < b:
  print("a es menor que b")
else:
  print("a no es menor que b")

a es menor que b

In [ ]:
# if condición:
a = 3
b = 4
c = 11

if c < 5:
  print("c es menor que 5")
elif c < 10:
  print("c es menor que 10")
elif c < 12:
  print("c es menor que 12")
else:
  print("c no es menor que 5 ni menor que 10")

c es menor que 12

In [ ]:
# and, or
# if condición:
a = 10

# quiero saber si ""a" está entre 5 y 15


if a > 5:
  if a < 15:
    print("a es mayor que 5 y es menor que 15")

if a > 5 and a < 15:
  print("a es mayor que 5 y es menor que 15")

print("**********************")

b = 15
c = 5

# quiero saber si "b" o "c" (qualquiera de los dos) es mayor que 10
print("para b = 15 y para c = 5")
if b > 10 or c > 10:
  print("b o c, alguno de ellos es mayor que 10")
else:
  print("ni b ni c son mayores que 10")
print()
print()


b = 7
c = 5

print("para b = 7 y para c = 5")
# quiero saber si "b" o "c" (qualquiera de los dos) es mayor que 10
if b > 10 or c > 10:
  print("b o c, alguno de ellos es mayor que 10")
else:
  print("ni b ni c son mayores que 10")

a es mayor que 5 y es menor que 15
a es mayor que 5 y es menor que 15
**********************
para b = 15 y para c = 5
b o c, alguno de ellos es mayor que 10


para b = 7 y para c = 5
ni b ni c son mayores que 10

# Funciones
### Qué son?
*   Conjunto de líneas de código agrupadas (bloque de código) que funcionan como una unidad realizando una tarea específica.
*   Las funciones en Python pueden devolver valores.
*   Las funciones en Python pueden tener parámetros/argumentos.
*   A las funciones también se las denomina "métodos" cuando se encuentran definidas dentro de una clase.

### Utilidad
*   Reutilización de código (cuando sea necesario o si es necesario)

### Sintaxis
*   def nombre_función():
  *   Instrucciones de la función
  *   return (opcional)

*   def nombre_función(parámetros):
  *   Instrucciones de la función
  *   return (opcional)

### Ejecución
*   nombre_función()
*   nombre_función(parámetros)

In [ ]:
def imprimir_3_textos():
  print("este es mi texto 1")
  print("este es mi texto 2")
  print("este es mi texto 3")

In [ ]:
imprimir_3_textos()

este es mi texto 1
este es mi texto 2
este es mi texto 3

In [ ]:
def sumar_2_3():
  print(2+3)

In [ ]:
def imprimir_2_textos(texto_1, texto_2):
  print(texto_1)
  print(texto_2)

In [ ]:
mi_texto_1 = "hola"
mi_texto_2 = "alumnos"
imprimir_2_textos(mi_texto_1, mi_texto_2)

hola
alumnos

In [ ]:
def suma(a,b):
  c = a+b
  return c

In [ ]:
resultado = suma(5,80)
print(resultado)

85

In [ ]:
def operacion(a,b,c,d):
  valor_1 = a + b
  valor_2 = valor_1 * c
  print(valor_2)
  valor_3 = valor_2 - d
  return valor_3

In [ ]:
print(operacion(1,2,3,4))
print("----")
print(operacion(10,20,3,10))

9
5
----
90
80

In [ ]:
def imprimir(a,b):
  print(a)
  print(b)

In [ ]:
imprimir(123, "texto")

123
texto

# Estrucutras de datos - Listas
*   Estrucutra de datos que nos permite almacenar gran cantidad de valores
*   En Python las listas pueden guardar diferentes tipos de valores (en otros lenguajes no ocurre esto con los array, arreglos, vectores...)
*   Se pueden expandir dínamicamente añadiendo nuevos elementos

Sintaxis de las listas
*   nombre_lista = [elemento1, elemento2, elemento3...]

Utilidades
*   índice [#]
*   porciones [#:#], [:#], [#:]
*   .append()
*   .insert(index, elemento)
*   .extend([elemento1, elemento2...])
*   .index(elemento)
*   .remove(elemento o index)
*   .pop()
*   .count(elemento)
*   elemento in mi_lista
*   lista_1 + lista_2
*   lista_1 * 3

In [ ]:
# definir una lista
# índice      0  1  2  3   4   5
mi_lista_1 = [2, 4, 6, 8, 10, 12]
print(mi_lista_1)
mi_lista_2 = [2,"texto",6,[8,10], 12]
print(mi_lista_2)

mi_lista_2[1] = 4
print(mi_lista_2)

[2, 4, 6, 8, 10, 12]
[2, 'texto', 6, [8, 10], 12]
[2, 4, 6, [8, 10], 12]

In [ ]:
mi_lista_2[3]

[8, 10]

In [ ]:
#porciones [#:#], [:#], [#:]
print(mi_lista_1[2:5])
print(mi_lista_1[2:])
print(mi_lista_1[:4])
print()

print(mi_lista_1[-3])
print(mi_lista_1[-3:])
print(mi_lista_1[:-3])

[6, 8, 10]
[6, 8, 10, 12]
[2, 4, 6, 8]

8
[8, 10, 12]
[2, 4, 6]

In [ ]:
# append()
mi_lista_1 = [2, 4, 6, 8, 10, 12]
print(mi_lista_1)
mi_lista_1.append(14)
print(mi_lista_1)
mi_lista_1.append(18)
print(mi_lista_1)
print("*********\n")

# insert(index, elemento)
mi_lista_1.insert(7, 16)
print(mi_lista_1)
print("*********\n")


# extend([elemento1, elemento2...])
mi_lista_1.extend([20,22,24,26])
print(mi_lista_1)

# tener cuidado con esto!!!!
mi_lista_1.append([20,22,24,26])
print(mi_lista_1)

[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12, 14]
[2, 4, 6, 8, 10, 12, 14, 18]
*********

[2, 4, 6, 8, 10, 12, 14, 16, 18]
*********

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, [20, 22, 24, 26]]

In [ ]:
# pop()
mi_lista_1 = [2, 4, 6, 8, 10, 12]
print(mi_lista_1)

mi_lista_1.pop()
print(mi_lista_1)

print()
# remove()
mi_lista_1 = ["Ana", "Juan", "Diana", "Pedro"]
print(mi_lista_1)
mi_lista_1.insert(1, "Samuel")
print(mi_lista_1)


mi_lista_1.remove("Diana")
print(mi_lista_1)

del mi_lista_1[2]
print(mi_lista_1)

[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10]

['Ana', 'Juan', 'Diana', 'Pedro']
['Ana', 'Samuel', 'Juan', 'Diana', 'Pedro']
['Ana', 'Samuel', 'Juan', 'Pedro']
['Ana', 'Samuel', 'Pedro']

In [ ]:
mi_lista_4 = [2, 4, 6, 8, 10, 12, 14, 10, 18, 20, 10, 24, 26]
print(mi_lista_4.count(10))

print(len(mi_lista_4))
print(mi_lista_4[12])
print(mi_lista_4[-1])

3
13
26
26

In [ ]:
# saber si un elemento pertenece a la lista
mi_lista_4 = [2, 4, 6, 8, 10, 12, 14, 10, 18, 20, 10, 24, 26]
print(8 in mi_lista_4)
print(16 in mi_lista_4)

True
False

In [ ]:
lista_1 = [1,2,3]
lista_2 = [4,5,6]
print(lista_1 + lista_2)

print(lista_1*5)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

# Estrucutras de datos - Tuplas
*   Son listas inmutables, no se pueden modificar después de su creación
  *   No permiten añadir, eliminar, mover elementos, etc
  *   Permiten extraer porciones pero el resultado es una tupla nueva
  *   Permite comprobar si un elemento se encuentra en la tupla

*   Utilidad?
  *    Más rápidas
  *    Menos espacio (mayor optimización)
  *    Pueden utilizarse como claves en un diccionario (las listas no)

Sintaxis de las listas
*   nombre_tupla = (elemento1, elemento2, elemento3...)

Utilidades
*   mi_lista = list(mi_tupla)
*   mi_tupla = tuple(mi_lista)
*   índice [#]
*   porciones [#:#], [:#], [#:]
*   elemento in mi_tupla
*   .count(elemento)
*   lista_1 + lista_2
*   lista_1 * 3

In [ ]:
mi_tupla_1 = (1,2,3,4,5)
print(mi_tupla_1)

mi_lista_10 = list(mi_tupla_1)
print(mi_lista_10)

mi_tupla_2 = tuple(mi_lista_10)
print(mi_tupla_2)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [ ]:
mi_tupla_1 = (1,2,3,4,5)
print(mi_tupla_1)
print(mi_tupla_1[0])
print(mi_tupla_1[-2])
print(mi_tupla_1[1:4])
print(mi_tupla_1[:4])

(1, 2, 3, 4, 5)
1
4
(2, 3, 4)
(1, 2, 3, 4)

In [ ]:
mi_tupla_1 = (1,2,3,4,5)
print(2 in mi_tupla_1)
print(7 in mi_tupla_1)

True
False

In [ ]:
mi_tupla_1 = (1,2,3,4,5,3,7,3, 7, 8, 3, 5, 3)
print(mi_tupla_1.count(3))
print(len(mi_tupla_1))

5
13

In [ ]:
mi_tupla_1 = (1,2,3,4,5)
mi_tupla_2 = (5, 6, 7)
print(mi_tupla_1)
print(mi_tupla_2)
mi_tupla_3 = mi_tupla_1 + mi_tupla_2
print(mi_tupla_3)
mi_tupla_4 = (1,2,3,4,5) + (5, 6, 7)
print(mi_tupla_4)
print(mi_tupla_4*3)

print()
print("no es permitido")
# no es permitido
print(mi_tupla_1)
print(mi_tupla_1[1])

# esto va a dar error!!!!
# mi_tupla_1[1] = 5

(1, 2, 3, 4, 5)
(5, 6, 7)
(1, 2, 3, 4, 5, 5, 6, 7)
(1, 2, 3, 4, 5, 5, 6, 7)
(1, 2, 3, 4, 5, 5, 6, 7, 1, 2, 3, 4, 5, 5, 6, 7, 1, 2, 3, 4, 5, 5, 6, 7)

no es permitido
(1, 2, 3, 4, 5)
2

### utilidades
*   crear tuplas y listas unitarias [elemento] (elemento,)
*   tupla = elemento1, elemento2, elemento3
  *    empaquetado de tupla
  *    no se recomienda
  *    desempaquetado de tupla → elemento1, elemento2 = tupla

In [ ]:
mi_lista_unitaria_1 = [2]
print(type(mi_lista_unitaria_1))
print(len(mi_lista_unitaria_1))


print()
mi_lista_unitaria_2 = []
print(mi_lista_unitaria_2)
print(type(mi_lista_unitaria_2))
print(len(mi_lista_unitaria_2))

<class 'list'>
1

[]
<class 'list'>
0

In [ ]:
mi_tupla_unitaria_1 = (45,)
print(mi_tupla_unitaria_1)
print(type(mi_tupla_unitaria_1))
print(len(mi_tupla_unitaria_1))

(45,)
<class 'tuple'>
1

In [ ]:
a = 1
b = 2
print(a, b)

1 2

In [ ]:
ab = (10, 20)
print(ab)
a = ab[0]
b = ab[1]
print(a, b)

c, d = (10, 20)
print(c, d)

c, d, e, f, g = 10, 20, 30, 40, 50
print(c, d, e, f, g)

(10, 20)
10 20
10 20
10 20 30 40 50

In [ ]:
def regresa_3_valores():
  """
  realiza operaciones
  """
  d = (3,4,5)
  return 5, "text", [2,4,6], d

In [ ]:
res = regresa_3_valores()

In [ ]:
edad, texto, lista_1, tupla_1 = res
print(edad)
print(texto)
print(lista_1)
print(tupla_1)

5
text
[2, 4, 6]
(3, 4, 5)

In [ ]:
edad, texto, lista_1, tupla_1 = regresa_3_valores()
print(edad)
print(texto)
print(lista_1)
print(tupla_1)

5
text
[2, 4, 6]
(3, 4, 5)

In [ ]:
edad, texto, lista_1, tupla_1 = regresa_3_valores()
print(edad)
print(texto)
print(lista_1)
print(tupla_1)

5
text
[2, 4, 6]
(3, 4, 5)

In [ ]:
_, texto, _, tupla_1 = regresa_3_valores()
print(texto)
print(tupla_1)

text
(3, 4, 5)

# Estrucutras de datos - Diccionarios
Estrucutras de datos que nos permite almacenar valores dde diferente tipo (enteros, cadenas de texto, decimales) e incluso listas y otros diccionarios

La principal característica de los diccionarios es que los datos se almacenan asociados a una clave de tal forma que se crea una asociación de tipo clave:valor para cada elemento almacenado

Los elementos almacenados no están ordenados, el orden es indiferente a la hora de almacenar la información en un diccionario

Sintaxis de los diccionarios
*   nombre_diccionario = {}
*   nombre_diccionario = {"clave":"valor", "clave":"valor"...}

Utilidades
*   print(nombre_diccionario["clave"])
*   adicionar elemento → nombre_diccionario["clave"] = "valor"
*   modificar elemento → nombre_diccionario["clave"] = "valor"
*   eliminar elemento → del nombre_diccionario["clave"]
*   nombre_diccionario.keys()
*   nombre_diccionario.values()
*   len(nombre_diccionario)
*   clave in nombre_diccionario